.form {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  margin-top: 0.3em;
}

.form input,
.form button {
  width: 20em;
  margin: 0.2em;
  text-align: center;
}

.form button {
  cursor: pointer;
}

.buttons {
  display: flex;
  width: 20em;
  justify-content: center;
}

.buttons button {
  width: 10em;
}

.message {
  margin-top: 0.7em;
  margin-bottom: 0.3em;
  font-size: 0.9em;
}
