.header {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}
.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.post {
  border: 1px solid #333;
  padding: 1em;
  margin: 1em;
}

.poster {
  border-bottom: 1px solid #333;
  margin-bottom: 0.5em;
}
